<mat-icon [matMenuTriggerFor]="menu">settings</mat-icon>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <mat-icon *ngIf="service.mode === 'dark'" (click)="toggleMode('light')">
      light_mode
    </mat-icon>
    <mat-icon *ngIf="service.mode === 'light'" (click)="toggleMode('dark')">
      dark_mode
    </mat-icon>

    <mat-icon
      *ngIf="service.align === 'vertical'"
      (click)="toggleAlignment('horizontal')"
    >
      horizontal_split
    </mat-icon>
    <mat-icon
      *ngIf="service.align === 'horizontal'"
      (click)="toggleAlignment('vertical')"
    >
      vertical_split
    </mat-icon>
  </button>
</mat-menu>
